<head>
  <style>
  ln{color:#169457;
  	padding -left: 5px, 5px;
  	margin-left:30px;
  	font-family: Courier New;
  	font-size:120%;
  	font-weight: 600;
  	line-height:30px
  }
  div.view{
  	float: left;
  	width: 80%;
  	height: auto;
  	background-color: #E8F1F0;
  	padding: 10px;
  	margin: 10px 1px 10px 10px;
  	border-radius: 20px;
  }
  div.description{
	float: left;
  	width: 22%;
  	height: auto;
  	
  	padding: 5px;
  	margin: 10px 10px 5px 5px;
  	border-radius: 20px;
  }
  div.data{
  	float: left;
  	width: 45%;
  	height: auto;
  	
  	padding: 5px;
  	margin: 10px 10px 5px 5px;
  	border-radius: 20px;
  }
  div.categories{
  	float: right;
  	width: 45%;
  	height: auto;
  	
  	padding: 5px;
  	margin: 10px 10px 5px 30px;
  	border-radius: 20px;
  }
  div.price{
  	float: right;
  	width: 55%;
  	height: auto;
  	
  	padding: 5px;
  	margin: 10px 10px 5px 30px;
  	border-radius: 20px;
  }
  h1{
  	align-self: center;
  	text-align: center;
  }
  button{
    width: auto;
    background-color: #4CAF50;
    color: white;
    font-size: 120%;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover{
    background-color: #45a049;
  }
</style>
</head>

<body>
  <div class="view">
  	<h1><%= @product.name %></h1>
  	<img src="https://www.groupon.com/merchant/wp-content/uploads/2015/11/goods-pod-apparelandaccessories@2x.jpg" width="300" height="auto" align="left">
  	
  	<div class="description">
  	  <ln>Name  </ln><br />
  	  <ln>Color  </ln><br />
  	  <ln>Description  </ln><br />
    </div>
    <div class="data">
  	  <ln><%= @product.name %></ln><br />
  	  <ln><%= @product.colour %></ln><br />
  	  <ln><%= @product.description %></ln><br />
  	</div>
  	<div class="price">
  		<button><%= @product.price %>  SGD </button>
  	</div>
  	<div class="categories">
  	  <% @product.categories&.each do |category| %>
  	  	<%= link_to category.category_name, products_catalog_path(category_id: category.id) %><span style="display:inline-block; width: 20px;"></span>
  	  <% end %>
  	  <% @product.sub_categories&.each do |sub_category| %>
  	  	<%= link_to sub_category.sub_category_name, products_catalog_path(sub_category_id: sub_category.id) %><span style="display:inline-block; width: 20px;"></span>
  	  <% end %>
  	  <% @product.sub_sub_categories&.each do |sub_sub_category| %>
  	  	<%= link_to sub_sub_category.sub_sub_category_name, products_catalog_path(sub_sub_category_id: sub_sub_category.id) %><span style="display:inline-block; width: 20px;"></span>
  	  <% end %>
  	</div>
  </div>

  
</body>